certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
colorama==0.4.6
docformatter==1.7.5
idna==3.10
Jinja2==3.1.5
lxml~=5.3.0
MarkupSafe==3.0.2
requests~=2.32.3
ruff==0.9.6
toposort==1.10
typing_extensions~=4.12.2
untokenize==0.1.1
urllib3==2.3.0
xsdata~=24.12
Markdown~=3.8
coverage~=7.8.0
rich~=14.0.0
